/TP_05/Ejercicio10TP5/build/
/TP_05/Ejercicio10TP5/nbproject/private/
/TP_05/Ejercicio11TP5/build/
/TP_05/Ejercicio11TP5/nbproject/private/
/TP_05/Ejercicio12TP5/build/
/TP_05/Ejercicio12TP5/nbproject/private/
/TP_05/Ejercicio13TP5/build/
/TP_05/Ejercicio13TP5/nbproject/private/
/TP_05/Ejercicio14TP5/build/
/TP_05/Ejercicio14TP5/nbproject/private/
/TP_05/Ejercicio1TP5/build/
/TP_05/Ejercicio1TP5/nbproject/private/
/TP_05/Ejercicio2TP5/build/
/TP_05/Ejercicio2TP5/nbproject/private/
/TP_05/Ejercicio3TP5/build/
/TP_05/Ejercicio3TP5/nbproject/private/
/TP_05/Ejercicio4TP5/build/
/TP_05/Ejercicio4TP5/nbproject/private/
/TP_05/Ejercicio5TP5/build/
/TP_05/Ejercicio5TP5/nbproject/private/
/TP_05/Ejercicio6TP5/build/
/TP_05/Ejercicio6TP5/nbproject/private/
/TP_05/Ejercicio7TP5/build/
/TP_05/Ejercicio7TP5/nbproject/private/
/TP_05/Ejercicio8TP5/build/
/TP_05/Ejercicio8TP5/nbproject/private/
/TP_05/Ejercicio9TP5/build/
/TP_05/Ejercicio9TP5/nbproject/private/
/TP_07/build/
/TP_07/nbproject/private/